<%- include("template/cabecera", {tituloWeb: 'PROY_SALUD_REST-API' }) %>
<header>
  <h1 class="text-primary"><%= titulo %></h1>
</header>

<section id="descripcion">
  <h2>Descripción del sistema</h2>
  <p>
    Bienvenido a nuestro sistema de solicitudes de citas. En nuestro sistema,
    puedes programar citas médicas con los mejores doctores en nuestros
    reconocidos hospitales. Nuestro objetivo es brindarte una experiencia de
    atención médica de calidad y accesible, conectándote con los profesionales
    de la salud adecuados y facilitando el proceso de programación de citas.
  </p>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="/img/imagen1.png" alt="Imagen 1" class="img-fluid" />
      <br />
      <br />
      <img src="/img/imagen2.png" alt="Imagen 2" class="img-fluid" />
    </div>
    <div class="col-md-4">
      <img src="/img/imagen3.png" alt="Imagen 1" class="img-fluid" />
      <br />
      <br />
      <img src="/img/imagen4.png" alt="Imagen 2" class="img-fluid" />
    </div>
    <div class="col-md-4">
      <img src="/img/imagen5.png" alt="Imagen 1" class="img-fluid" />
      <br />
      <br />
      <img src="/img/imagen6.png" alt="Imagen 2" class="img-fluid" />
    </div>
  </div>
</div>

<%- include("template/footer") %>
