body {
  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar {
  background: #eaeaea; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px;
}

.navbar-brand {
  color: #333;
  font-weight: bold;
}

.nav-item {
  display: inline-block;
  margin-right: 10px;
}

.nav-link {
  display: inline-block;
  padding: 5px 10px;
  background-color: transparent;
  color: #333;
  text-decoration: none;
  border: none;
}

.nav-link.active {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 3px;
}
