<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Salud</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/"
            ><img src="/img/index.png" alt="" width="32" height="32" />Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/doctores"
            ><img src="/img/doctor.png" alt="" width="32" height="32" />
            Doctores</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/pacientes"
            ><img src="/img/paciente.png" alt="" width="32" height="32" />
            Pacientes</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/citasmedicas"
            ><img src="/img/citas.png" alt="" width="32" height="32" /> Citas
            Medicas</a
          >
        </li>
      </ul>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const navLinks = document.querySelectorAll(".nav-link");
          navLinks.forEach(function (link) {
            link.addEventListener("click", function (event) {
              event.navLinks.forEach(function (navLink) {
                navLink.classList.remove("active");
              });
              link.classList.add("active");
            });
          });
        });
      </script>
    </div>
  </div>
</nav>
